.call-to-action {
  background: $background-primary-color;
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 24px 0;
}

@media screen and (max-width: 770px) {
  .call-to-action {
    margin-left: -25px;
    margin-right: -25px;
  }
}

@media screen and (max-width: 600px) {
  .call-to-action {
    flex-flow: column;
  }
}

.call-to-action__image {
  flex: 1 0 auto;
  width: 33.33%;
  align-self: stretch;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .call-to-action__image {
    width: 100%;
    margin-bottom: 24px;
  }
}

.call-to-action__image .cloudinary {
  height: 100%;
}

.call-to-action__image .cloudinary__image {
  height: 100%;
  object-fit: cover;
}

.call-to-action__content {
  flex: 1 1 auto;
  margin-left: 16px;
}

.call-to-action__title {
  font-size: 20px;
  margin: 0 0 16px;
  font-family: $primary-font;
}

// @media screen and (max-width: 770px) {
//   .call-to-action__description {
//     display: none;
//   }
// }

.call-to-action__button {
  padding: 8px 16px !important;
  font-size: 14px !important;
}
