.cloudinary {
  position: relative;
  background-color: $background-primary-color;
}

.cloudinary__image {
  max-width: unset;
  width: 100%;
}

@media screen and (min-width: 770px) {
  .cloudinary--is-wide {
    width: 100vw;
    max-width: 1060px;
    left: 50%;
    transform: translateX(-50%);
  }
}
