.gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0;
  justify-content: space-between;
}

.gallery__item {
  flex: 0 1 auto;
  flex-basis: calc(50% - 4px);
  margin-bottom: 8px;
}

.gallery__item:last-child,
.gallery__item:nth-child(odd) {
  margin-bottom: unset;
}

.gallery__item:last-child:nth-child(odd) {
  flex-grow: 1;
}

.gallery + .post__image-container {
  margin: -25px 0 25px;
}

.post__image-container + .gallery,
.post__image-container + .post__image-container {
  margin: 7px 0 25px;
}

.gallery .post__image-container {
  display: block;
  flex: 0 1 auto;
  width: calc(50% - 3.5px);
  margin: 0;
}

.gallery .post__image {
  margin: 0;
  padding: 0 0 7px;
}

.gallery .post__image-container:last-child:nth-child(odd) {
  flex-grow: 1;
}
