.gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 25px -7px;
  justify-content: space-between;
}

.gallery .post__image-container {
  display: block;
  flex: 0 1 auto;
  min-width: 200px !important;
  width: calc(50% - 3.5px);
}

.gallery .post__image {
  padding: 0 0 7px;
}

.gallery .post__image-container:last-child:nth-child(odd) {
  flex-grow: 1;
}
